#banner {
    width: 100%;
}

.principal {
    background: gray;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

i b {
    color: red;
}

#missao {
    font-size: 20px;
}

.beneficios {
    background: white;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}